bert_score==0.3.13
ipython==8.12.3
langchain==0.3.27
langchain_community==0.3.27
langchain_core==0.3.74
langchain_experimental==0.3.4
langchain_openai==0.3.30
langgraph==0.6.5
rouge_score==0.1.2
textstat==0.7.8
typing_extensions==4.14.1
